.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px - 65px);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);

    h1 {
        margin-bottom: 24px;
        font-size: 36px;
        font-weight: 700;
        color: #333;
    }

    p {
        margin-bottom: 36px;
        font-size: 18px;
        color: #666;
        text-align: center;
    }

    button {
        height: 60px;
        font-size: 20px;
        border-radius: 3px;
    }
}